<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On

  # Set the base path dynamically if possible (change folder name to project directory name)
  # If you are using a subfolder, uncomment the line below and change 'folder_name' to your folder name
  # RewriteBase /folder_name/public

  # If you are using a subdomain or root directory, comment the line above and uncomment the line below
  # RewriteBase /


  # Prevent direct access to PHP files outside index.php
  RewriteCond %{REQUEST_URI} !^/index\.php$
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]


</IfModule>
